page {
  max-width: 750rpx;
  overflow-x: hidden;
}

.header-thumb {
  width: 80px;
  height: 80px;
  background-color: #f2f2f2;
  position: relative;
  &-img {
    width: 80px;
    height: 80px;
  }
  &-status {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
  }
}

.bg {
  &-warn {
    background-color: #E64340;
  }
  &-primary {
    background-color: #1AAD19;
  }
}

.more-desc-btn {
  color: #3FA7FF;
}

.status {
  &-warn {
    color: #E64340;
    border: 1px solid #E64340;
  }
  &-primary {
    color: #1AAD19;
    border: 1px solid #1AAD19;
  }
}

.thumb-box {
  height: 100px;
  width: 100px;
  border: 1px solid #ddd;
  background: #eee url("img__svg/photo-camera.svg") no-repeat center center;
  background-size: 40px 40px;
  margin-right: 10px;
}

.thumb-img {
  width: 100px;
  height: 100px;
}

.loading-bg {
  background: #eee url("img__svg/curve-preloader.svg") no-repeat center center;
  background-size: 60px 60px;
}

// 返回
.backtrack {
  display: inline-block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  background: url("img__svg/pokestop.svg") no-repeat center center;
}

.backtrack-plan {
  height: 70px;
}

.anima-feat {
  animation: 0.55s linear 0s alternate none 2 featuresicon;
  &-loading {
    animation: 0.55s linear 0s alternate none infinite featuresicon;
  }
}

@keyframes featuresicon {
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.code-img {
  width: 200px;
  height: 200px;
}