<!--宽行红色背景按钮-->
<template name='width-red'>
   <button class="bg-color-red line-height_35 font_16 color-fff " hover-class="button-hover">
       {{text}}
    </button>
</template>
<!--宽行红色背景按钮 end-->

<!--small-bg-red-btn -->
<template name='small-red'>
<button  class="bg-color-red margin-rpx-left_20 margin-rpx-top_10 radius_2 w-rpx_200 line-height_30 color-fff  font_14 display-inline-block margin-right_0">
    {{text}}
</button>
</template>
<!--small-bg-red-btn end -->

<!--small-bg-333-btn -->
<template name="small-333">
    <button class="bg-color_333 margin-rpx-left_20 margin-rpx-top_10 radius_2 w-rpx_200 line-height_30 color-fff  font_14 display-inline-block margin-right_0">
        {{text}}
    </button>
</template>
<!--small-bg-333-btn end-->