page {
  // display: flex;
  // flex-direction: column-reverse;
  text-align: center;
}

.index-he{
  height: 100%;
}

.index-logo {
  text-align: center;
}

.index-logo-svg {
  width: 375rpx;
}

.radius{
  &-btn{
    border-radius: 100%;
    width: 160px;
    height: 160px;
    line-height: 160px;
  }
}